<%= render "navbar" %>
<div id="main-container" class="container">

<div class="row">
<div class="col-md-8">
<div class="field form-group">
<h3>Advanced Search</h3>

  <%= form_tag 'advancedsearch', method: 'get' do %>
    <div class="form-group">
    <%= label_tag :label %>
    <%= text_field_tag :label, params[:label], class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description, params[:description], class: 'form-control' %>
        </div>
    <div class="form-group">
    <%= label_tag :metadata %>
    <%= text_field_tag :metadata, params[:metadata], class: 'form-control' %>
        </div>
    <div class="form-group">    
    <%= label_tag :license %>
    <%= text_field_tag :license, params[:license], class: 'form-control' %>
        </div>
    <div class="form-group">
    <%= label_tag :start_Year %>
    <%= text_field_tag :startDate, params[:startDate], placeholder: "1800 or +1800 or -300 or blank", class: 'form-control' %>
        </div>
    <div class="form-group">
    <%= label_tag :end_Year %>
    <%= text_field_tag :endDate, params[:endDate], placeholder: "1800 or +1800 or -300 or blank", class: 'form-control' %>
        </div>
    <%= submit_tag :advancedsearch , class: 'btn btn-default' %>
  <% end %>
  </div>
  </div>
  </div>
  </div>