<%= render "navbar" %>
<div id="main-container" class="container">

      <div class="row">
      <div class="col-md-8">
  <% if @manifests.blank? %>
    <div class="row">
    <div class="col-md-8">
    <p>No results found</p>
    </div>
    </div>
  <% end %> 
  <% @manifests.each do |manifest| %>
  <div class="row">
      <div class="col-md-8">
        <h4><%= manifest.label %></h4>
        <p><%= manifest.manifest_id %></p>
        <p><%= manifest.license %></p>
        <p><%= raw(manifest.description) %></p>
        <p><%= image_tag manifest.thumbnail %></p>
      </div>
    </div>
    <% end %>
    </div>
    </div>
<br>

</div>