<h1>Listing manifests</h1>


  <hr>


<table>
  <thead>
    <tr>
      <th>Manifest</th>
      <th>Label</th>
      <th>Description</th>
      <th>License</th>
      <th>Navdate</th>
      <th>LastIndexedDate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manifests.each do |manifest| %>
      <tr>
        <td><%= manifest.manifest_id %></td>
        <td><%= manifest.label %></td>
        <td><%= manifest.description %></td>
        <td><%= manifest.license %></td>
        <td><%= manifest.navDate %></td>
        <td><%= manifest.lastIndexedDate %></td>
        <td><%= link_to 'Show', manifest %></td>
        <td><%= link_to 'Edit', edit_manifest_path(manifest) %></td>
        <td><%= link_to 'Destroy', manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manifest', new_manifest_path %>
