<%= render "navbar" %>

<div id="main-container" class="container">

      <div class="row">
      <div class="col-md-8">
<h1>Search manifests</h1>

<div class="field form-group">
  <%= form_tag searchresults_path, class: 'form-horizontal', method: 'get' do %>
    <div class="col-sm-10">
      <%= text_field_tag :q, params[:q], placeholder: "Bronte or purple or Bronte purple", class: 'form-control' %>
      <%= submit_tag :searchresults, class: 'btn btn-primary' %>
      </div>
  <% end %>

</div>
</div>
</div>

<!--
<div class="row">
<div class="col-md-8">
<div class="field form-group">
<h3>Advanced Search</h3>

  <%= form_tag 'advancedsearch', method: 'get' do %>
    <div class="form-group">
    <%= label_tag :label %>
    <%= text_field_tag :label, params[:label], class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= label_tag :description %>
    <%= text_field_tag :description, params[:description], class: 'form-control' %>
        </div>
    <div class="form-group">
    <%= label_tag :metadata %>
    <%= text_field_tag :metadata, params[:metadata], class: 'form-control' %>
        </div>
    <div class="form-group">    
    <%= label_tag :license %>
    <%= text_field_tag :license, params[:license], class: 'form-control' %>
        </div>
    <div class="form-group">
    <%= label_tag :start_Date %>
    <%= text_field_tag :startDate, params[:startDate], class: 'form-control' %>
        </div>
    <div class="form-group">
    <%= label_tag :end_Date %>
    <%= text_field_tag :endDate, params[:endDate], class: 'form-control' %>
        </div>
    <%= submit_tag :advancedsearch , class: 'btn btn-default' %>
  <% end %>
  </div>
  </div>
  </div>

      <div class="row">
      <div class="col-md-8">
<div class="field form-group form-inline">
  <h3>Submit a New Collection</h3>
   <p class="form-control-static">We index all the collections that are in the IIIF Universe file.  Collections outside of that can be indexed by entering them (once) here.
  You can also force indexing of your collection in Pontiiif by entering it here.</p>
  <%= form_tag 'manifests/addcollection', method: 'get' do %>
    <div class="form-group">
    <%= label_tag :collection_id %>
    <%= text_field_tag :collection, params[:collection_id] %>
    </div>
    <%= submit_tag :addcollection, class: 'btn btn-default'  %>
  <% end %>
  </div>
  </div>
  </div>
  -->


  </div>

  <%= render "footer" %>